<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Profile</h2>
		<ol class="breadcrumb">
			<li><a href="dashboard">Home</a></li>
			<li class="active"><strong>Password Reset</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div ng-show="userExist" class="alert alert-danger">
					<strong>Sorry!</strong> User does not exists!
				</div>
				<div ng-show="showSuccessAlert" class="alert alert-success">
					<strong>Congragulation!</strong> Temporary Password sent to your
					e-mail.
				</div>
				<div ng-show="showErrorAlert">
					<div class="alert alert-danger">
						<strong>Error!</strong> Some error occurred while resetting your
						password. Contact admin for further assistance.
					</div>
				</div>
				<div class="ibox-content wizard">

					<div class="wizard">
						<div class="content">
 									<p><strong>You are about to reset your password. Once you click reset button you will get temp password to your registered mail.</strong><br><br></p>							
								<a class="btn btn-primary btn-rounded " ng-click="resetPassword()" href="">Reset Password</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
